@model MyPortfolio_MVC.Models.TblCategories
@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Yeni Kategori Ekleme Sayfasi</h2>
<form method="post" >

        <label>Kategori Adi</label>
        <input type="text" name="Name" class="form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

