@model MyPortfolio_MVC.Models.TblCategories
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Kategori Guncelleme Sayfası</h2>
<form method="post">
        @Html.HiddenFor(x=>x.Categoryid)
        <label>Kategori Adı</label>
        @Html.TextBoxFor(x=>x.Name, new {@class="form-control"})
        <br />
        <button class="btn btn-outline-success">Guncelle</button>
</form>

